body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1, h2, h3 {
    color: #0056b3;
    margin-top: 25px; /* Ajout pour espacer les nouvelles sections */
}

.countdown {
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 0;
    color: #d9534f;
}

.time-display {
    font-size: 1.5em;
    margin: 10px 0;
}

.time-zone-label {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    margin-bottom: 20px; /* Ajout pour espacer des sections suivantes */
}

/* Nouveaux styles pour la météo */
.weather-info {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.weather-description {
    text-transform: capitalize; /* Met la première lettre en majuscule */
    margin-right: 5px;
}

.temperature {
    font-weight: bold;
    color: #3f7b24; /* Couleur pour la température */
}

.sun-times {
    font-size: 0.95em;
    color: #555;
    margin-bottom: 20px;
}